@use '../../../styles/mixins/breakpoints';
@use '../../../styles/variables/colors';

.modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 10%), 0 2px 4px rgba(0, 0, 0, 10%);
  margin: auto;
  background-color: #fff;
  width: 100%;

  @include breakpoints.media('sm') {
    width: 500px;
  }
}

.modal-h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: -15px;
  padding: 18px 16px 18px 18px;
}

.modal-line {
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
  padding-bottom: 0;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px 18px auto;
  padding-bottom: 20px;
  gap: 10px;
}

.btn-cancel {
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 35px;
  margin-left: 8px;
  width: 120px;
  color: #4b4f56;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.btn-find {
  background-color: #1877f2;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border-style: none;
  font-weight: 900;
  margin-left: 10px;
}

.btn-find:hover {
  background-color: #3578e5;
}

.spinner {
  width: 31px;
  height: 31px;
  margin: 0 28px;
}
