@use "../../styles/variables/colors";

@mixin transition(
  $transition-property: all,
  $transition-duration: 0.3s,
  $transition-timing-function: ease-in-out
) {
  transition: $transition-property $transition-duration
    $transition-timing-function;
}

@mixin shadow($shadow-color: rgba(colors.$black, 0.1)) {
  box-shadow: 0 0 10px $shadow-color;
}

@mixin message-option {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.5s linear;

  &:hover {
    background-color: #d0d0d0;
  }
}

@mixin message-avatar {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #0f0;
}
