.infinite-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.noPosts {
  text-align: center;
}

.noPostsImg {
  margin-top: 150px;
}

.noPostsInfo {
  margin-top: 50px;
  font-size: 20px;
}
