@use '../../styles/variables/colors';
@use '../../styles/mixins/breakpoints';

.card {
  box-shadow: 0 1px 2px colors.$shadow2;
  background-color: colors.$white;
  border-radius: max(0px, min(8px, (100vw - 4px - 100%) * 9999)) / 8px;
  padding: 10px;

  &:not(:first-child) {
    margin-top: 16px;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
      color: colors.$primaryButtonBackground;
    }
  }
}

.buttonWhite {
  position: absolute;
  bottom: 15px;
  right: 30px;
  z-index: 50;
}

.profileActions {
  margin: 0px auto;
  @include breakpoints.media('sm') {
    margin-left: auto !important;
  }
}
