@use "../../../styles/variables/colors";

.dropzone {
  background-color: colors.$lightGrey2;
  padding: 120px 40px;
  border-radius: 10px;
  border: 2px dashed colors.$greyBorder;
  cursor: pointer;
}

.dropzonePreview {
  display: flex;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.cropWrapper {
  border-radius: 10px;
  overflow: hidden;
}
