@import '../../styles/variables/colors';
@import '../../styles/mixins/common';
@import '../../styles/mixins/breakpoints';

.spinner {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  @include media('sm') {
    gap: 40px;
    flex-direction: row;
  }
  @include media('lg') {
    gap: 0px;
  }
}
.logoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include media('sm') {
    width: 30svw;
  }
  @include media('md') {
    width: 20svw;
  }
}
.logo {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;

  color: $primaryButtonBackground;
  text-align: center;
  @include media('sm') {
    font-size: 60px;
  }
}
.slogan {
  font-weight: 400;
  line-height: 1.2;
  color: $primaryButtonBackground;
  text-align: center;
  margin-bottom: auto;
  display: block;
}

.form-wrapper {
  width: 355px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: $white;
  padding: 24px 10px;
  border-radius: 10px;
  @include media('sm') {
    width: 420px;
    padding: 24px 32px;
  }
}
.body {
  padding-bottom: 24px;
  border-bottom: 1px solid $lightGrey;
}
.forgot-password {
  display: block;
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 500;
  color: $primaryButtonBackground;
}
.footer {
  padding-top: 24px;
  span {
    display: block;
    margin: 10px 0px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}
.registration-btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 32px;
  background-color: $green;

  color: white;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 1.2;
}
.google {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.password {
  position: relative;
}
.eye {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.field {
  font-size: 17px;
  line-height: 16px;
  padding: 14px 16px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #dddfe2;
}
.error {
  border-color: rgba(255, 0, 0, 0.5);
}
.wrong-pass {
  color: rgb(254, 101, 101);
  font-size: 17px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;
}
.field {
}
.error {
}
.submit-btn {
  padding: 12px 32px;
  color: white;
  background-color: $primaryButtonBackground;
  border-radius: 6px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 1.2;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.signInWithGoogleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $primaryButtonBackground;
  border: 1px solid $primaryButtonBackground;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 16px;

  border-radius: 6px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 1.2;
}
