.textarea {
  font-size: 15px;
  resize: none;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 95%;
  font-size: 24px;
}

.modal {
  width: 500px;
  padding: 5px;
}
