@use '../../../styles/variables/colors';

.messageItem {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-direction: row-reverse;
}

.messageBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  max-width: 250px;
  line-height: 19px;
}

.messageText {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(colors.$primaryButtonBackground, 0.7);
  color: colors.$white;
  font-family: 'Segoe UI', sans-serif;
}

.user {
  align-self: flex-end;
  text-align: right;
}

.messageSentAt {
  position: absolute;
  left: -90px;
  bottom: 6px;
  font-size: 12px;
  color: colors.$black;
}

.bot {
  align-self: flex-start;
  text-align: left;
  margin-left: 20px;
  flex-direction: row;
}
