@use '../../styles/variables/colors';
@use '../../styles/mixins/common';

.grayButton {
  background: linear-gradient(rgba(0 0 0 / 0%), rgba(0 0 0 / 60%));
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.blueRoundedButton {
  background-color: colors.$primaryButtonBackground;
  color: colors.$white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  @include common.transition(background-color, 0.2s);

  &:hover {
    background-color: rgba(colors.$primaryButtonBackground, 0.8);
  }

  &:disabled {
    background-color: colors.$disabledButtonBackground;
    color: colors.$disabledButtonColor;
    pointer-events: none;
  }
}

.whiteButton {
  background-color: colors.$white;
  color: colors.$black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  @include common.transition(filter, 0.2s);

  &:hover {
    filter: brightness(0.95);
  }

  &:disabled {
    background-color: colors.$disabledButtonBackground;
    color: colors.$disabledButtonColor;
  }
}

.redRoundedButton {
  background-color: colors.$error;
  color: colors.$white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  @include common.transition(background-color, 0.2s);

  &:hover {
    background-color: rgba(colors.$error, 0.8);
  }

  &:disabled {
    background-color: rgba(colors.$error, 0.5);
    color: colors.$disabledButtonColor;
    pointer-events: none;
  }
}

.greenRoundedButton {
  background-color: colors.$green;
  color: colors.$white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  @include common.transition(background-color, 0.2s);

  &:hover {
    background-color: rgba(colors.$green, 0.8);
  }

  &:disabled {
    background-color: rgba(colors.$green, 0.5);
    color: colors.$disabledButtonColor;
    pointer-events: none;
  }
}
