@use "../../../styles/variables/colors";
@use "../../../styles/mixins/breakpoints";

.chatMainWrapper {
  display: flex;
  flex-direction: column;
  height: calc(100svh - 52px);
  width: 100%;
  background-color: colors.$disabledButtonBackground;

  @include breakpoints.media('sm') {
    height: calc(100svh - 56px);
  }
}

.chatTextArea {
  @include breakpoints.media('sm') {
    font-size: 16px;
  }
}

.chatTextAreaHolder {
  background-color: colors.$lightGrey;
  margin-top: auto;

  @include breakpoints.media('sm') {
    padding-block: 3px;
  }
}

.chatAsideMainWrapper {
  display: flex;
}

.chatAsideWrapper {
  display: none;
  flex-direction: column;
  width: 50%;
  max-width: 350px;
  background-color: colors.$wash;
  @include breakpoints.media('sm') {
    display: flex;
  }
}

.chatList {
}

.searchWrapper {
  width: 95%;
  margin: 20px auto;
  > div {
    background-color: colors.$greyBorder;
    input {
      color: colors.$black;
    }
  }
}
