@use "../../../styles/variables/colors";

.avatarWrapper {
  height: 80svh;
  width: 35svw;
  margin: auto;
  display: flex;
  filter: url(#ambilight);
  & img {
    margin: auto;
  }
}

.buttons {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  padding: 0 3svw;
  height: 100%;
  top: 50%;

  & svg {
    transition: 0.2s ease-in-out;
    font-size: 16px;
    color: colors.$wash;
    padding: 5px;
    border-radius: 50%;
  }
  &:hover {
    & svg {
      scale: 1.3;
      background-color: rgba(colors.$black, 0.5);
    }
  }
  &:disabled {
    display: none;
  }
}

.leftArrow {
  left: 0;
  transform: translate(0, -50%);
}

.rightArrow {
  right: 0;
  height: 80%;
  transform: translate(0, -50%);
}

.options {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  gap: 20px;
  & svg {
    font-size: 20px;
    color: colors.$wash;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    &:first-child {
      translate: 0px 1px;

      &:hover {
        background: rgba(colors.$black, 0.5);
      }
    }
  }
}
