// keep in sync with theme.js

$wash: #f0f2f5;
$grey: #75777a;
$black: #050505;
$lightGrey: #f0f2f5;
$lightGrey2: #f5f5f5;
$primaryButtonBackground: #0866ff;
$white: #fff;
$shadow2: rgba(0, 0, 0, 0.2);
$disabledButtonBackground: #e4e6eb;
$disabledButtonColor: #a7a9ab;
$greyBorder: #ccc;
$error: #ff0000;
$success: #00ff00;
$warning: #ffff00;
$primary: #0866ff;
$primaryLight: #e6f0ff;
$primaryDark: #0047b3;
