@import '../../styles/mixins/breakpoints';

.container {
  padding-block: 40px;
  display: flex;
}

.title {
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 30px 20px;
  // display: none;

  @include media(sm) {
     //position: fixed;
    display: block;
    font-size: 25px;
    margin-left: 30px;
  }
}

.navbarLinks {
  display: none;

  @include media(sm) {
    display: block;
    position: sticky;
    top: 94px;
    height: 100%;
    // position: absolute;
    // left: 0;
    // translate: 0 30px;

    // a:hover {
    //   background-color: red;
    // }
  }
}

.postContainer {
  h1 {
    @include media(sm) {
      display: none;
    }
  }
}
