@use "../../styles/variables/colors";
@use "../../styles/mixins/common";

.not-found-container {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: white;
  padding: 24px;
  @media (min-width: 640px) {
    padding: 32px;
  }
  @media (min-width: 1024px) {
    padding: 0 32px;
  }
}

.text-center {
  text-align: center;
}

.status-code {
  font-size: 1rem;
  font-weight: 600;
  color: colors.$primaryButtonBackground;
}

.title {
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: #1f2937;
  @media (min-width: 640px) {
    font-size: 3.25rem; // 5xl
  }
}

.description {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.75;
  color: #4b5563; // gray-600
}

.action-links {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem; // gap-x-6
}

.home-link,
.support-link {
  border-radius: 0.375rem; // rounded-md
  padding: 0.625rem 0.875rem; // px-3.5 py-2.5
  font-size: 0.875rem; // text-sm
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.home-link {
  background-color: colors.$primaryButtonBackground;
  color: colors.$white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 9px 20px;
  display: flex;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  @include common.transition(background-color, 0.2s);

  &:hover {
    background-color: rgba(colors.$primaryButtonBackground, 0.8);
  }

  &:disabled {
    background-color: colors.$disabledButtonBackground;
    color: colors.$disabledButtonColor;
  }
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  &:focus-visible {
    outline: 2px solid rgba(colors.$black, 0.8);
  }
}

.support-link {
  color: #1f2937;
  &:hover {
    text-decoration: underline;
  }
}
