/* stylelint-disable-next-line scss/at-import-partial-extension */
@import '../../styles/variables/colors';
/* stylelint-disable-next-line scss/at-import-partial-extension */
@import '../../styles/mixins/common';
/* stylelint-disable-next-line scss/at-import-partial-extension */
@import '../../index.scss';

/* ---   Chat   --- */

.chat-container {
  display: flex;
  justify-content: flex-start;
}

.message-container {
  width: 800px;
  max-width: 90%;
  height: 80vh;
  overflow-y: scroll;
  margin: 30px auto;
  border: 0 solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.chat-messages {
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.message-item {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.bot {
  align-self: flex-start;
  text-align: left;
  margin-left: 50px;

  .message-text {
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Segoe UI', sans-serif;
  }

  .message-avatar {
    position: absolute;
    left: -36px;
    top: 10px;
  }

  .message-options {
    position: absolute;
    top: 25%;
    left: 100%;
    display: none;

    .message-options-option {
      @include message-option;
    }
  }

  &:hover .message-options {
    display: block;
  }
}

.user {
  align-self: flex-end;
  text-align: right;

  .message-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .message-text {
      margin: 5px;
      padding: 10px;
      border-radius: 20px;
      background-color: #0084ff;
      color: #fff;
      font-family: 'Segoe UI', sans-serif;
    }

    .message-img {
      max-width: 500px;
    }
  }

  .message-avatar {
    display: none;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .message-options {
    position: absolute;
    top: 25%;
    left: -30px;
    display: none;

    .message-options-option {
      @include message-option;
    }
  }

  &:hover .message-options {
    display: block;
  }
}

.chat-input input {
  width: 70%;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #f1f2f6;
  border: none;
  height: 2em;
  border-radius: 1.5em;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

/* ---   ChatList   --- */

.chats {
  width: 500px;

  .chat-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    width: 90%;

    .no-chats {
      font-size: 24px;
      text-align: center;
      opacity: 0.5;
    }
  }

  .add-chat {
    padding: 20px;
    width: 70px;
    cursor: pointer;
    transition: color 0.5s ease;
    border-radius: 40px;

    &__plus {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: #999;
    }
  }

  .chat-item {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin: 5px 10px;
      font-family: 'Segoe UI', sans-serif;
    }

    .chat-options {
      position: absolute;
      top: 25%;
      right: 30px;
      display: none;

      .chat-options-option {
        @include message-option;
      }
    }

    &:hover .chat-options {
      display: block;
    }
  }
}
