.empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 40px;
  padding-bottom: 10vh;
  > h1 {
    font-size: 30px;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  > p {
    font-size: 20px;
    text-align: center;
    opacity: 0.5;
    line-height: 26px;
  }
}
