@use '../../../styles/mixins/breakpoints';

.modal-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  height: fit-content;
  width: 92%;
  display: flex;
  padding: 25px 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include breakpoints.media('sm') {
    width: 480px;
  }
}

.proceedButton {
  width: 100%;
  padding: 12px 32px;
  font-size: 17px;
  margin-top: 20px;
}
