@use '../../styles/mixins/breakpoints';
@use '../../styles/variables/colors';

.header-div-password-a {
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  margin-top: 10px;
}

.header-div-password-a:hover {
  text-decoration: underline;
}

.header-btn {
  background-color: #1877f2;
  color: white;
  width: 75px;
  height: 42px;
  border-radius: 6px;
  border-style: none;
  font-weight: 900;
}

.header-btn:hover {
  background-color: #3578e5;
}

.header-input {
  border-radius: 6px;
  border: 1px solid #acadaf;
  color: #acadaf;
  padding-left: 10px;
  font-size: 15px;
}

.main {
  background-color: #e9ebee;
  padding: 6%;
  height: 92.5svh;
  padding-top: 120px;
}

.modal {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 10%), 0 2px 4px rgba(0, 0, 0, 10%);
  margin: auto;
  background-color: #fff;
  width: 100%;

  @include breakpoints.media('sm') {
    width: 500px;
  }
}

.modal-h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: -15px;
  padding: 18px 16px 18px 18px;
}

.modal-line {
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
  padding-bottom: 0;
}

.modal-p {
  font-size: 17px;
  line-height: 20px;
  padding: 18px 16px 18px 18px;
}

.modal-input {
  border-radius: 6px;
  border: 1px solid #acadaf;
  color: #acadaf;
  font-size: 16px;
  height: auto;
  margin-left: 16px;
  margin-bottom: 20px;
  padding: 16px 0 16px 16px;
  width: 444px;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px 18px auto;
  padding-bottom: 20px;
  gap: 10px;
}

.btn-cancel {
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 35px;
  margin-left: 8px;
  width: 120px;
  color: #4b4f56;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}

.btn-find {
  background-color: #1877f2;
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border-style: none;
  font-weight: 900;
  margin-left: 10px;
}

.btn-find:hover {
  background-color: #3578e5;
}

.header-login-errors {
  color: red;
  position: absolute;
  margin-top: 3.3%;
  margin-left: 3%;
  font-size: 10px;
}

.header-password-errors {
  color: red;
  position: absolute;
  margin-top: 3.3%;
  margin-left: 18.5%;
  font-size: 10px;
}

.update-password-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px;
  padding-top: 0;
}

.error {
  text-align: center;
  margin-top: 40px;
  font-weight: 900;
  color: colors.$error;
}
