@use "../../../../styles/variables/colors";
@import '../../../../styles/mixins/breakpoints';

.notificationContainer {
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  background-color: #ffffff;
  left:0;
  border-radius: 15px;
  border: 1px solid colors.$greyBorder;
  @include media(s) {
    width: 100vw;
    left: auto;
    right: 0;
    max-width: 390px;
    padding: 10px;
  }
  @include media(sm) {
    width: 70vw;
    max-width: 390px;
  }
  @include media(md) {
    width: 40vw;
  }
  @include media(lg) {
    width: 35vw;
  }
  @include media(xl) {
    width: 20vw;
  }
}

.notificationTitle {
  color: colors.$black;
  font-size: 22px;
  line-height: 28px;
  font-weight:600;
  margin: 20px 0 20px 0;
  @include media(s) {
    margin: 30px 0 30px 0;
  }
  @include media(md) {
    font-size: 28px;
    line-height: 32px;
  }
}

.noNotification {
  color: colors.$black;
  font-size: 18px;
  line-height: 22px;
  font-weight:400;
  margin-left: 20px;
  @include media(md) {
    font-size: 22px;
    line-height: 28px;
  }
}

.notificationList {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media(s) {
    gap: 30px;
  }
  @include media(sm) {
    margin: 0 auto 30px auto;
  }
  @include media(sm) {
    gap: 30px;
  }
}

.notificationItem {
  width: 100%;
  color: colors.$grey;
  font-size: 18px;
  line-height: 22px;
  font-weight:400;
  display: flex;
  gap: 15px;
  @include media(sm) {
    gap: 25px;
  }
}

.avatarImgContainer {
  width: 30%;
  min-width: 65px;
  padding-top: 30%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  height: 0;
}

.avatarImg {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.userName {
  color: colors.$black;
  font-weight: 500;
}

.notificationContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include media(sm) {
    gap: 15px;
  }
}

.dateMassage {
  color: colors.$primaryDark;
}

